html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(47, 88%, 63%);
  height: 100%;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 12px;
}

.card > img {
  margin: 0, auto;
  width: 100%;
  border-radius: 12px;
}

p,
h1 {
  font-family: Figtree;
  text-align: left;
}

.tab {
  font-weight: 800;
  background-color: hsl(47, 88%, 63%);
  width: fit-content;
  padding: 5px 12px;
  border-radius: 5px;
}
