html {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(47, 88%, 63%);
  height: 100%;
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 7px 7px hsl(0, 0%, 7%);
}

.card > img {
  margin: 0, auto;
  width: 100%;
  border-radius: 12px;
}

p,
h2 {
  font-family: Figtree;
  text-align: left;
  color: hsl(0, 0%, 7%);
}

p {
  font-weight: 500;
  font-size: 14px;
}

.tab,
h2 {
  font-weight: 800;
}

.card:hover {
  box-shadow: unset;
  cursor: pointer;
}

.card:hover h2 {
  color: hsl(47, 88%, 63%);
}

.paragraph {
  font-size: 16px;
  color: hsl(0, 0%, 42%);
  line-height: 1.5;
}

.tab {
  background-color: hsl(47, 88%, 63%);
  width: fit-content;
  padding: 5px 12px;
  border-radius: 5px;
  font-size: 14px;
}

.author {
  display: inline-flex;
}

.author > p {
  align-self: center;
  padding-left: 15px;
  font-weight: 800;
  font-size: 14px;
}

.author > img {
  width: 35px;
  height: 34px;
  align-self: center;
}

@media (max-width: 375px) {
  .card {
    width: 290px;
  }
  .paragraph {
    font-size: 14px;
  }
}
